[submodule "source/vueuse"]
	path = source/vueuse
	url = https://github.com/vueuse/vueuse.git
[submodule "source/react-use"]
	path = source/react-use
	url = https://github.com/streamich/react-use.git
